#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--dark);
  z-index: 3;
  .menu {
    display: none;
  }
  .bars {
    color: var(--dark1);
    width: 30px;
    height: 30px;
    display: block;
    background: var(--light);
    border-radius: 50%;
    // position: fixed;
    cursor: pointer;
    svg{
      position: absolute;
      top: 40px;
      right: 15px;
    }
    .navMenu {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #f1f5f9;
      flex-grow: 1;
      height: 100vh;
      min-width: 30vw;
      background: var(--light);
      // opacity: 0.7;
      // border-radius: 1rem;
      align-items: center;
      .navLinkItems {
        color: var(--slate3);
        font-weight: 500;
        font-size: var(--xl);
        padding: 0.5rem 3rem;
      }
    }
  }
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  #header {
    .menu {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      gap: 2em;

      .linkItems {
        font-size: var(--xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--slate1);
        letter-spacing: -0.05em;
        transition: color 0.3s;
        cursor: pointer;

        &:hover {
          color: var(--yellow);
        }
      }
      .line {
        border: 1px solid var(--slate1);
        padding-top: 1.5em;
      }
      .sun {
        display: block;
        color: var(--slate1);
        width: var(--base);
        height: var(--base);
        cursor: pointer;
      }
      .resume {
        font-size: var(--xs);
        cursor: pointer;
      }
    }
    .bars {
      display: none;
    }
  }
}

/* lg */
@media (min-width: 1024px) {
  #header {
    .menu {
      .linkItems {
        font-size: var(--sm);
      }
      .sun {
        width: var(--xl);
        height: var(--xl);
      }
      .resume {
        font-size: var(--sm);
      }
    }
  }
}

/* xl */
@media (min-width: 1280px) {
  #header {
    .menu {
      .linkItems {
        font-size: var(--base);
      }
      .resume {
        font-size: var(--sm);
      }
    }
  }
}

/* 2xl */
@media (min-width: 1536px) {
  #header {
    .menu {
      .linkItems {
        font-size: var(--lg);
      }
      .resume {
        font-size: var(--base);
      }
    }
  }
}
